body {
  background-color: #a7cdcc;
  }
  hr {
    background-color: #a7cdcc;
    border-style: dotted none none;
    border-color: 01937C;
    border-width:10px;
    width : 12%;
  }
  h1{
    color: #004a55;
  }
  h3 {
    color: #004a55;
  }
